
{% block content %}
<head>
    <title>signup</title>
      <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='webpage.css') }}" rel=stylesheet>
   
   </head>
   <body>
       <!-- navigation-->
       <div class="topnav">
         <a href="{{url_for('main.index') }}">Home</a>
         <a href="{{url_for('main.content') }}">content</a>
         <a href="{{url_for('auth.login') }}">login</a>
         <a href="{{url_for('auth.logout') }}">logout</a>
         <a class="active" href="{{url_for('auth.signup') }}">signup</a>
       </div>
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form action="/signup" method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{12,}" title="Must contain at least one number and one uppercase, lowercase letter, one special character, and at least 12 or more characters" required>
                <p>Password must contain at least one number and one uppercase, lowercase letter, one special character, and at least 12 or more characters</p>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
        <img src="{{ url_for('static', filename='image5.gif') }}" alt="gif">
    </div>
</div>
{% endblock %}